.link-dzen {
    background: rgb(230, 230, 230);
    color: rgb(0, 0, 0);
}

.link-teletype {
    background: rgb(91, 65, 245);
}

.link-teletype svg {
    -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
            filter: invert(100%);
}

.link-hashnode {
    background: rgb(41, 98, 255);
    color: rgb(255, 255, 255);
}
